@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
}

h4 {
    font-family: 'Lucida Sans';
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
}

a {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

.active {
    background-color: black;
    color: white;
    border: 5px solid black;
    border-radius: 5%;
}

.active::before {
    content: '>';
}

.divisor {
    font-size: 150%;
}

nav {
    padding: 5px 0px 5px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.192);
    filter: drop-shadow(2px 3px 1px rgba(56, 56, 56, 0.315))
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.nav-links ul li {
    list-style: none;
}

.container {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 20px;
}

span {
    user-select: text;
    text-transform: uppercase;
    font-size: 5rem;
    font-family: cambria;
    color: #ffffff;
    mix-blend-mode: difference;
}

span::selection {
    background-color: gray;
    mix-blend-mode: screen;
}

button {
    font-family: tahoma;
    padding: 5px 20px 5px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    background: none;
    color: white;
    border: 2px solid white;
    mix-blend-mode: difference;
    margin-bottom: 200px;
    border-radius: 100px;
    cursor: pointer;
}